@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    text-align: center;
}

h5 {
    text-align: center;
}

select {
    max-width: 150px;
}