<html>
<head>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<!-- 100% width container with max-width set to grid-lg (960px) -->
<div class="container grid-lg">
    <h1 class="mt-2">Konwerter Temperatur</h1>
    
        <form action="/" method="POST" class="mt-2">
        <div class="column col-8 col-mx-auto">
            <div class="input-group">
                <input class="form-input" type="number" placeholder="Temperatura w stopniach C" name="temperature">
                <select class="form-select" name="mode">
                    <option>Kelwin</option>
                    <option>Fahrenheit</option>
                </select>
                <button type="submit" class="btn btn-primary input-group-btn">Przelicz</button>
            </div>
        </div>
        </form>
        {% if context.value %}
        <h5 class="mt-5">Temperatura w {{ context.mode }}ach to {{ context.value }}
        {% if context.mode == 'Fahrenheit' %}
        &#176;
        {% endif %}
        </h5>
        {% endif %}
</div>

</body>
</html>